.pl-half {
    padding-left: 0.5rem;
}

.mt-half {
    display: inline;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.alighed { 
    text-align: center;
}
.divider {
    margin-top: 2rem;
    border-top: thick double #dedede;
}
